[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./Atba/buzzkill.cfg

# Path to python file. Can use relative path from here.
python_file = ./composite_bot.py

# Name of the bot in-game
name = CompositeBot
